Repository LAB-MI/candilibV2, pull requests merged in 2019-04, with the labels that each got.

#237 Permettre au candidat de mettre une adresse libre #204
  client/src/views/candidat/components/SignupForm.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
Labels: candidat, enhancement

#241 Make email addresses case insensitive
  server/src/models/candidat/candidat.model.js
  server/src/models/whitelisted/whitelisted.model.js
  server/src/routes/admin/whitelisted.controllers.js
  server/src/routes/admin/whitelisted.controllers.spec.js
Labels: bug, candidat, server

#239 update documentation
  docs/Principes.md
Labels: tech

#243 Feat/get info to manage reservation
  client/config/storybook/config.js
  client/src/App.vue
  client/src/candidat.js
  client/src/components/PageTitle.vue
  client/src/main.css
  client/src/router.js
  client/src/store/reservation.js
  client/src/store/time-slots.js
  client/src/util/dateTimeWithSetLocale.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/selection-summary/CancelReservationMessage.vue
  client/src/views/candidat/components/selection-summary/ModalConfirm.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.stories.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/docker-compose.dev.yml
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
Labels: candidat, enhancement

#217 Split admin components in routes and views #138
  client/src/components/HeaderIcon.vue
  client/src/router-checks.js
  client/src/router.js
  client/src/views/AdminHome.vue
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/AdminImportPlaces.vue
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/AurigeValidation.vue
  client/src/views/admin/components/CandidatsList.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ImportPlacesValidation.vue
  client/src/views/admin/components/Whitelist.vue
Labels: admin

#264 fix: link in the mail of convocation
  server/src/routes/business/mail/convocation-template.js
Labels: bug, candidat

#269 Fix/update npm dependencies
  client/package-lock.json
  client/package.json
Labels: bug, tech

#273 Améliorer la doc pour les nouveaux arrivants
  README.md
  server/dev-setup/planning-93.csv
Labels: docs

#274 Fix/npm dependencies problems
  client/package-lock.json
  client/package.json
  client/src/components/PageTitle.vue
  client/src/views/admin/Admin.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  server/package-lock.json
  server/package.json
Labels: bug, tech

#270 fix unti test for the places tests
  server/src/models/__tests__/places.js
Labels: bug, server

#268 Fix/release a reservation when a sucess exam #262
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/places.business.js
Labels: candidat, server

#267 Feat/admin departement selector #249
  client/babel.config.js
  client/config/storybook/config.js
  client/package-lock.json
  client/package.json
  client/src/assets/images/hexagon.svg
  client/src/components/Hexagon.stories.js
  client/src/components/Hexagon.vue
  client/src/main.js
  client/src/main.styl
  client/src/store/admin.js
  client/src/store/index.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/DepartementSelector.stories.js
  client/src/views/admin/components/DepartementSelector.vue
  client/vue.config.js
  server/package-lock.json
  server/package.json
Labels: admin, enhancement

#276 Fix/fix mongoose deprecated methods
  server/src/models/__tests__/candidats.js
  server/src/models/__tests__/centres.js
  server/src/models/__tests__/places.js
  server/src/models/archived-candidat/archived-candidat.queries.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/centre/centre.queries.js
  server/src/models/place/place.queries.js
  server/src/models/user/user.model.js
  server/src/models/user/user.queries.js
  server/src/routes/auth/admin.controllers.js
Labels: tech

#277 Feat/view center fill information #250
  client/config/storybook/config.js
  client/package-lock.json
  client/package.json
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/components/HeaderIcon.vue
  client/src/plugins/index.js
  client/src/plugins/vue-carousel.js
  client/src/router.js
  client/src/store/admin.js
  client/src/store/time-slots.js
  client/src/stories/admin.stories.js
  client/src/stories/candidat.stories.js
  client/src/util/frenchDateTime.js
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ScheduleManager.vue
  client/src/views/admin/components/WeekMonitor.stories.js
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  server/dev-setup/centres.json
  server/dev-setup/create-admin-account.js
  server/package.json
  server/src/models/place/place.queries.js
  server/src/models/user/user.model.js
  server/src/models/user/user.queries.js
  server/src/models/user/user.queries.spec.js
  server/src/routes/admin/admin.controllers.js
  server/src/routes/admin/admin.controllers.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/auth/admin.controllers.js
  server/src/routes/common/centre.business.js
  server/src/routes/middlewares/verify-token.spec.js
  server/src/util/token.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement

#272 Feat/add departement in token
  server/src/routes/admin/candidats.controller.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/middlewares/index.js
  server/src/routes/admin/middlewares/verify-admin-departement.js
  server/src/routes/admin/middlewares/verify-admin-departement.spec.js
  server/src/routes/admin/middlewares/verify-admin-level.js
  server/src/routes/admin/middlewares/verify-admin-level.spec.js
  server/src/routes/auth/admin.controllers.js
  server/src/routes/middlewares/__mocks__/verify-token.js
  server/src/routes/middlewares/verify-token.js
  server/src/routes/middlewares/verify-token.spec.js
  server/src/util/token.js
Labels: admin, server

#294 Fix error on route getMe
  server/src/routes/admin/index.js
Labels: admin, bug, server

#296 Feat/archive resa from admin #295
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/reservations.controller.js
  server/src/routes/common/reason.constants.js
Labels: admin, server

#300 Fix/non uniq centre name #282
  server/src/models/centre/centre.model.js
  server/src/models/centre/centre.queries.spec.js
Labels: admin, bug, server

#271 Feat/add departement in the whitelist
  server/src/models/whitelisted/whitelisted.model.js
  server/src/models/whitelisted/whitelisted.queries.js
  server/src/models/whitelisted/whitelisted.queries.spec.js
  server/src/routes/admin/whitelisted.controllers.js
  server/src/routes/admin/whitelisted.controllers.spec.js
Labels: admin, server

#283 Feat/accueil admin search
  client/package-lock.json
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/admin-search.js
  client/src/store/index.js
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/SearchCandidat.stories.js
  client/src/views/admin/components/SearchCandidat.vue
  client/src/views/admin/components/SearchCandidats.stories.js
  client/src/views/admin/components/SearchCandidats.vue
  client/src/views/admin/components/SearchInspecteurs.stories.js
  client/src/views/admin/components/SearchInspecteurs.vue
  server/dev-setup/create-inspecteurs.js
  server/dev-setup/inspecteurs.json
  server/dev-setup/setup.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/inspecteur/index.js
  server/src/models/inspecteur/inspecteur.model.js
  server/src/models/inspecteur/inspecteur.queries.js
  server/src/models/inspecteur/inspecteur.queries.spec.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/index.js
  server/src/routes/admin/inspecteurs.controllers.js
  server/src/util/regex.js
Labels: admin
