Repository LAB-MI/candilibV2, pull requests merged in 2019-03, with the labels that each got.

#111 Change default API_HOST to API host name
  client/docker-compose.prod.front.yml
Labels: tech

#109 Feat/api get centre by department
  server/src/models/__tests__/candidats.js
  server/src/models/__tests__/centres.js
  server/src/models/__tests__/index.js
  server/src/models/__tests__/places.js
  server/src/models/__tests__/reservations.js
  server/src/models/archived-candidat/archived-candidat.queries.spec.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/centre/centre.model.js
  server/src/models/centre/centre.queries.js
  server/src/models/centre/centre.queries.spec.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/candidats.controller.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/candidat/centre.business.js
  server/src/routes/candidat/centre.controllers.js
  server/src/routes/candidat/centre.controllers.spec.js
  server/src/routes/candidat/index.js
Labels: admin, enhancement

#108 Feat/add mentions legales
  client/src/router.js
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/Legal.vue
  client/src/views/candidat/components/SignupForm.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegalesContent.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegalesJson.js
Labels: admin, enhancement

#114 Tech/improve storybook
  client/config/storybook/addons.js
  client/config/storybook/config.js
  client/package-lock.json
  client/package.json
  client/src/components/AppSnackbar.vue
  client/src/components/PureAppSnackbar.vue
  client/src/components/app-snackbar.vue
  client/src/components/index.js
  client/src/stories/admin.stories.js
  client/src/stories/candidat.stories.js
  client/src/stories/common.stories.js
Labels: tech

#107 Feat/add faq
  client/src/router.js
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
Labels: admin, enhancement

#116 Feat/add choice center #76
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/main.css
  client/src/router-checks.js
  client/src/router.js
  client/src/store/center.js
  client/src/store/index.js
  client/src/stories/candidat.stories.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/NavigationDrawer.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/center-selection/arrayTestOfCenters.js
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegalesContent.vue
  server/src/models/centre/centre.queries.spec.js
  server/src/routes/admin/index.js
  server/src/routes/candidat/centre.controllers.js
  server/src/routes/candidat/index.js
  server/src/routes/common/centre.business.js
  server/src/routes/common/centre.controllers.js
  server/src/routes/common/centre.controllers.spec.js
Labels: candidat, enhancement

#117 Fix/fix all storybook stories error
  client/src/router.js
  client/src/stories/admin.stories.js
  client/src/stories/admin/import.places.stories.js
  client/src/stories/candidat.stories.js
  client/src/stories/common.stories.js
  client/src/stories/common/appsnackbar.stories.js
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/EmailValidation.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
Labels: enhancement, tech

#121 Feat/add time slot selection #77
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/main.css
  client/src/plugins/vuetify.js
  client/src/router.js
  client/src/store/center.js
  client/src/store/index.js
  client/src/store/time-slots.js
  client/src/stories/candidat.stories.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  client/src/views/candidat/components/time-slots-selection/arrayTestOfDates.js
  server/src/models/place/place.queries.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/candidat/places.controllers.spec.js
Labels: candidat, enhancement

#126 Feat/add confirm time slot selection #79
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/main.css
  client/src/router.js
  client/src/store/time-slots.js
  client/src/stories/admin/import.places.stories.js
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/src/routes/candidat/reservations.controllers.js
Labels: candidat, enhancement

#130 Fix/fix date convertion and display confirmation message #79
  client/src/api/index.js
  client/src/store/center.js
  client/src/store/time-slots.js
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
Labels: bug

#122 Add confirmation popin when deleting email from whitelist #67
  client/src/stories/admin.stories.js
  client/src/stories/admin/import.places.stories.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/Whitelist.vue
  client/src/views/admin/components/Whitelisted.vue
Labels: admin, enhancement

#124 Feat/add whitelist in batch #123
  client/src/api/index.js
  client/src/store/message.js
  client/src/store/whitelist.js
  client/src/stories/admin.stories.js
  client/src/views/admin/components/Whitelist.vue
  client/vue.config.js
  server/src/models/candidat/candidat.model.js
  server/src/models/whitelisted/whitelisted.model.js
  server/src/models/whitelisted/whitelisted.queries.js
  server/src/routes/admin/index.js
  server/src/routes/admin/whitelisted.controllers.js
Labels: admin, enhancement

#146 Set full icu mode in node for luxons' setLocale to work
  server/Dockerfile
  server/package-lock.json
  server/package.json
Labels: server, tech

#145 fix error on getReservation #144
  server/src/models/place/place.queries.js
  server/src/routes/candidat/places.business.js
Labels: bug

#148 Tech/factorisation mail
  server/src/routes/business/build-mail-convocation.js
  server/src/routes/business/mail/body-mail-template.js
  server/src/routes/business/mail/cancel-convocation-template.js
  server/src/routes/business/mail/convocation-template.js
  server/src/routes/business/mail/epreuve-etg-ko-template.js
  server/src/routes/business/mail/epreuve-pratique-ok-template.js
  server/src/routes/business/mail/index.js
  server/src/routes/business/mail/inscription-ko-template.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/mail/inscription-valid-template.js
  server/src/routes/business/mail/mail.constants.js
  server/src/routes/business/mail/validartion-email-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail.js
Labels: server, tech

#151 Use intl to format messages
  client/package-lock.json
  client/package.json
  client/src/admin.js
  client/src/candidat.js
  client/src/main.js
  client/src/messages.js
  client/src/plugins/index.js
  client/src/plugins/vue-intl.js
  client/src/views/Message.vue
  client/src/views/candidat/components/SignupForm.vue
Labels: enhancement, tech

#93 Add logs for admin login API access
  server/dev-setup/create-admin-account.js
  server/dev-setup/create-candidats.js
  server/dev-setup/create-centres.js
  server/dev-setup/setup.js
  server/src/app.js
  server/src/index.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/place/place.queries.js
  server/src/mongo-connection.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/auth/admin.controllers.js
  server/src/routes/auth/candidat.controllers.js
  server/src/routes/business/build-mail-convocation.js
  server/src/routes/business/send-mail.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/routes/common/centre.controllers.js
  server/src/util/__mocks__/logger.js
  server/src/util/index.js
  server/src/util/logger.js
Labels: enhancement, server

#164 'Connexion' label invisible in old FF fixes #150
  client/src/views/admin/components/Login.vue
Labels: admin, bug

#159 Feat/api modify réservation #155
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
Labels: candidat, server

#162 Feat/api resend mail convocation#160
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
Labels: candidat, enhancement

#158 Feat/create reservation view #98
  client/src/api/index.js
  client/src/store/candidat.js
  client/src/store/index.js
  client/src/store/reservation.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepOne.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
Labels: bug, candidat, enhancement

#166 Feat/dispay all months #133
  client/src/store/reservation.js
  client/src/store/time-slots.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepOne.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: candidat, enhancement

#161 Replace message key with content
  server/src/util/logger.js
Labels: devops, server, tech

#174 Feat/add button back to home faq and mention #173
  client/src/api/index.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepOne.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  server/src/routes/candidat/reservations.controllers.js
Labels: candidat, enhancement

#163 Format nginx logs in json
  client/nginx/nginx.template
Labels: devops, tech

#175 Feat/put profile in its own view #135
  client/src/router.js
  client/src/views/candidat/Candidat.vue
Labels: candidat, enhancement

#177 Feat/add action resend confirm email #160
  client/src/api/index.js
  client/src/store/reservation.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
  server/src/models/__tests__/places.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/common/centre.controllers.spec.js
  server/src/util/__mocks__/logger.js
Labels: candidat, enhancement

#178 Change goToHome button to goBack #173
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
Labels: candidat, enhancement

#180 In nginx json format: fix upstream_response_time default value if no …
  client/nginx/nginx.template
Labels: devops

#179 Bugfixes - Fixes #147
  client/src/components/form-inputs/input-file.vue
  client/src/store/aurige.js
  client/src/views/admin/components/AdminImportPlaces.vue
  client/src/views/admin/components/Aurige.vue
  server/dev-setup/planning-93.csv
  server/package.json
  server/src/config.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/middlewares/verify-admin-level.js
  server/src/util/token.js
Labels: admin, bug, candidat

#199 Update dependencies and fix vulnerabilities
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: bug, tech

#186 Fix/get place authorize#142
  server/src/routes/candidat/authorize.business.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.business.spec.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/routes/common/centre.controllers.js
  server/src/routes/common/centre.controllers.spec.js
  server/src/routes/middlewares/__mocks__/verify-token.js
Labels: candidat, server

#187 rename param center to centre
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.js
Labels: enhancement, tech

#184 Add hard text to candidat file #183
  client/src/candidat.js
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelection.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepOne.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
Labels: candidat, tech

#202 Fix/replace deprecated methods
  server/src/models/archived-candidat/archived-candidat.queries.js
  server/src/mongo-connection.js
Labels: bug, server, tech

#198 Feat/display last date to cancel reservation #185
  client/config/storybook/config.js
  client/src/candidat.js
  client/src/components/PageTitle.vue
  client/src/main.css
  client/src/router.js
  client/src/store/candidat.js
  client/src/store/center.js
  client/src/store/reservation.js
  client/src/store/time-slots.js
  client/src/stories/candidat.stories.js
  client/src/views/CandidatHome.vue
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/MyProfile.vue
  client/src/views/candidat/components/ProfileInfo.vue
  client/src/views/candidat/components/center-selection/CenterSelection.stories.js
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/confirm-selection/ConfirmSelectionStepTwo.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/ReservationInfo.stories.js
  client/src/views/candidat/components/selection-summary/ReservationInfo.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.stories.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlotsSelection.stories.js
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
Labels: candidat, enhancement

#226 fix email convocation link #218
  server/src/routes/business/mail/mail.constants.js
Labels: bug, candidat, server

#225 Remove useless route.push in candidat.vue fixes #224
  client/src/store/center.js
  client/src/views/candidat/Candidat.vue
Labels: bug, candidat

#221 Remove accent of formatMessage in MyReservation.vue fixes #220
  client/src/views/candidat/components/selection-summary/MyReservation.vue
Labels: bug, candidat

#219 Modify component tags fixes #215
  client/src/views/candidat/components/ProfileInfo.vue
Labels: bug, candidat

#223 Add in util a function for DateTimeSetLocale fixes #209
  client/src/store/time-slots.js
  client/src/util/dateTimeWithSetLocale.js
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
Labels: bug, candidat

#222 Feat/api control date to book place #188
  server/src/config.js
  server/src/models/__tests__/reservations.js
  server/src/models/archived-candidat/archived-candidat.queries.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/business/build-mail-convocation.js
  server/src/routes/business/send-mail-reservation.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/util/__mocks__/logger.js
  server/src/util/date.util.js
Labels: candidat, enhancement, server

#230 Feat/add wording cancel popup #213
  client/src/candidat.js
  client/src/main.css
  client/src/store/reservation.js
  client/src/views/candidat/components/selection-summary/CancelReservationMessage.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/ReservationInfo.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
Labels: candidat, enhancement

#227 Fix/candidat improve wording in mails and ui
  client/src/candidat.js
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
  server/src/routes/business/mail/convocation-template.js
  server/src/routes/business/mail/index.js
  server/src/routes/business/mail/inscription-valid-template.js
  server/src/routes/business/mail/validation-email-template.js
Labels: bug, candidat

#228 fix and update the content mail convocation from #212
  server/docker-compose.dev.yml
  server/src/routes/business/mail/convocation-template.js
Labels: candidat, enhancement, server
