Repository LAB-MI/candilibV2, pull requests merged in 2019-07, with the labels that each got.

#507 :white_check_mark: Fix tests on date
  client/src/store/admin.js
  client/src/store/time-slots.js
  client/src/store/time-slots.spec.js
  client/src/store/utils/index.js
  client/src/util/frenchDateTime.js
  client/src/util/frenchDateTime.spec.js
  client/src/views/admin/components/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ag-grid-utils.js
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/src/models/__tests__/candidats.js
  server/src/models/__tests__/places.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/candidat/authorize.business.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/routes/common/centre.business.js
  server/src/routes/common/centre.controllers.spec.js
  server/src/util/date.util.js
Labels: bug

#497 :bug: error in console
  client/src/views/admin/components/SearchEmail.vue
Labels: admin, bug

#506 Fix/import places csv #504
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.business.spec.js
Labels: admin, bug

#514 Fix remove setZone in frenchDateTime utils from client
  client/src/store/time-slots.spec.js
  client/src/util/frenchDateTime.js
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#503 fix error when place is set to unavailable #298
  client/src/store/admin.js
  server/src/routes/admin/places.controllers.js
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#508 Add arrow function for fix error at click.stop event
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
Labels: bug, candidat

#509 Feat/add new weeks monitor
  client/src/store/admin.js
  client/src/util/creneauSetting.js
  client/src/util/frenchDateTime.js
  client/src/views/admin/components/DataTableWeekMonitor.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/WeekMonitor.vue
  server/src/routes/admin/places.controllers.js
Labels: admin, enhancement

#510 Feat/afficher planning quand reservation creneau #413
  client/src/components/ConfirmBox.vue
  client/src/store/admin.js
  client/src/store/candidats.js
  client/src/views/admin/components/FillShedulesPlaces.stories.js
  client/src/views/admin/components/PlaceAction.vue
  client/src/views/admin/components/PlaceActionHeader.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ScheduleInspectorButton.vue
  client/src/views/admin/components/ScheduleInspectorDetails.stories.js
  client/src/views/admin/components/ScheduleInspectorDetails.stories.store.js
  client/src/views/admin/components/ScheduleInspectorDetails.vue
  client/src/views/admin/components/ScheduleInspectorDialog.vue
  client/src/views/admin/components/SheduleInspectorDialogHeader.vue
Labels: admin, enhancement

#530 fix ui week monitor
  client/src/store/admin.js
  client/src/views/admin/components/DataTableWeekMonitor.vue
Labels: admin, bug

#532 :sparkles: Add buttons to navigate through dates
  client/src/store/admin.js
  client/src/views/admin/components/ScheduleInspector.vue
Labels: admin, enhancement

#531 Feat/improve whitelist
  client/src/api/index.js
  client/src/store/whitelist.js
  client/src/views/admin/components/SearchEmail.vue
  client/src/views/admin/components/Whitelist.stories.js
  client/src/views/admin/components/Whitelist.vue
  server/src/models/archived-candidat/archived-candidat.model.js
  server/src/models/candidat/candidat.model.js
  server/src/models/centre/centre.model.js
  server/src/models/departement/departement.model.js
  server/src/models/inspecteur/inspecteur.model.js
  server/src/models/place/place.model.js
  server/src/models/user/user.model.js
  server/src/models/whitelisted/whitelisted.model.js
  server/src/models/whitelisted/whitelisted.queries.js
  server/src/routes/admin/index.js
  server/src/routes/admin/middlewares/verify-repartiteur-departement.spec.js
  server/src/routes/admin/whitelisted.controllers.js
  server/src/routes/admin/whitelisted.controllers.spec.js
Labels: admin, enhancement

#516 Fix/add archive place to modify reservation by admin
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/common/reason.constants.js
Labels: admin, enhancement

#528 Fix/access page aurige
  client/src/router-checks.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/DepartementSelector.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/ScheduleInspector.vue
Labels: bug

#515 Add HSTS in nginx
  client/nginx/nginx.template
Labels: enhancement, tech

#545 Improve faq
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, enhancement

#502 Fix/typos
  client/src/components/BandeauBeta.stories.js
  client/src/constants.js
  client/src/store/admin-bordereaux.js
  client/src/store/import-places.js
  client/src/store/time-slots.js
  client/src/store/utils/index.spec.js
  client/src/views/Message.vue
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/AgGridAurigeStatusFilter.vue
  client/src/views/admin/components/AurigeValidation.vue
  client/src/views/admin/components/CandidatsList.vue
  client/src/views/admin/components/CandilibAutocomplete.vue
  client/src/views/admin/components/DepartementSelector.vue
  client/src/views/admin/components/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/Login.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/PlaceActionHeader.vue
  client/src/views/admin/components/RefreshButton.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SimpleCalendar.vue
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/admin/components/Whitelist.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/admin/reservations.controllers.spec.js
Labels: bug

#547 Feat/forcer departement candidat whitelist #512
  .vscode/launch.json
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.business.spec.js
  server/src/routes/candidat/candidat.controllers.js
Labels: admin, enhancement

#549 :sparkles: rename button bordereaux #537
  client/src/views/admin/components/GenerateInspecteurBordereaux.vue
Labels: admin, enhancement

#542 :lipstick: Improve name header admin
  client/src/views/admin/components/AdminHeader.vue
Labels: admin, enhancement

#544 :lipstick: Afficher faq en première page #517
  client/src/views/candidat/components/LandingPage.vue
Labels: candidat, enhancement

#543 Feat/ux fiche candidat
  client/src/views/admin/components/ProfileInfo.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/src/views/admin/components/SearchInspecteur.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegalesContent.vue
Labels: admin, enhancement

#561 :arrow_up: Upgrade dependencies to pass npm audit test
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
  server/src/models/evaluation/evaluation.queries.spec.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/whitelisted.controllers.js
  server/src/routes/candidat/candidat.business.js
Labels: bug, tech

#551 Feat/permettre import place xlsx#538
  client/package-lock.json
  client/src/util/frenchDateTime.js
  client/src/views/admin/components/AdminImportPlaces.vue
  client/src/views/admin/components/ag-grid-utils.js
  server/package-lock.json
  server/package.json
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.business.spec.js
  server/src/routes/admin/places.controllers.js
Labels: admin, enhancement

#572 url encode email in link validation email
  server/src/routes/business/message-templates.js
Labels: bug, candidat, server

#555 Fix condition to set color status of week
  client/src/views/admin/components/DataTableWeekMonitor.vue
  client/src/views/admin/components/WeekMonitor.vue
Labels: admin, bug

#554 Fix filter timeSlots by available hour
  client/src/util/creneauSetting.js
  client/src/views/admin/components/WeekMonitor.vue
Labels: admin, bug

#583 Modify admin mail cancelation
  server/src/routes/business/mail/cancel-booking-by-admin-template.js
Labels: admin, enhancement

#582 fix #513 : placeholder congruent with BAN API
  client/src/views/candidat/components/SignupForm.vue
Labels: bug, candidat

#564 Feat/improve performance
  client/public/index.html
  client/src/main.js
  client/src/router.js
Labels: enhancement, tech

#584 Fix error in scheduleInspecteur when switch active departement
  client/src/views/admin/components/ScheduleInspector.vue
Labels: admin, bug

#589 Add onload attribute in link from plublic index.html
  client/public/index.html
Labels: admin, bug, candidat, tech

#590 Adding links tag to fix Firefox compatibility and remove useless onload
  client/public/index.html
Labels: admin, bug, candidat, tech

#597 :bug: Fix 'Token invalide' message
  client/src/router.js
Labels: bug

#562 Add feat send schedules to inspecteurs emails
  client/src/admin.js
  client/src/api/index.js
  client/src/store/admin-bordereaux.js
  client/src/store/admin.js
  client/src/views/admin/components/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/ScheduleInspector.vue
  server/src/models/departement/departement.queries.js
  server/src/models/departement/departement.queries.spec.js
  server/src/routes/admin/admin.controllers.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
Labels: admin, enhancement, server

#587 Fix error message penalty alert
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: bug, candidat

#576 Add logger for candidat preSignup
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/message.constants.js
Labels: candidat, server, tech
