Repository LAB-MI/candilibV2, pull requests merged in 2019-06, with the labels that each got.

#398 Fix/ci run test set node image to 12.3.1
  client/Dockerfile
  client/src/store/admin.js
  client/src/store/center.js
  client/src/store/time-slots.js
  client/src/stories/admin/import.places.stories.js
  client/src/util/calendar.js
  client/src/util/calendar.spec.js
  client/src/util/frenchDateTime.js
  client/src/util/frenchDateTime.spec.js
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/CandidatsList.vue
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/admin/components/ag-grid-utils.js
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/models/__tests__/candidats.js
  server/src/models/__tests__/places.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/candidat/authorize.business.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/routes/common/centre.business.js
  server/src/routes/common/centre.controllers.spec.js
  server/src/util/date.util.js
Labels: server, tech

#392 :bug: Reject to preinscription
  client/src/views/candidat/components/SignupForm.vue
Labels: bug, candidat

#384 fix duplicate declaration
  client/src/views/admin/components/ScheduleInspector.vue
Labels: admin, bug

#386 add nom inspecteur in importCsv and logical
  server/dev-setup/planning-93.csv
  server/src/routes/admin/places.business.js
Labels: admin, server

#390 :lisptick: Move location icon in center selection
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
Labels: candidat, enhancement

#385 add lon/lat to center model
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  server/dev-setup/centres.json
  server/dev-setup/create-centres.js
  server/src/models/__tests__/centres.js
  server/src/models/centre/centre.model.js
  server/src/models/centre/centre.queries.js
  server/src/models/centre/centre.queries.spec.js
  server/src/routes/admin/places.business.js
Labels: admin, candidat, enhancement

#393 use admins.json file as input to create-admin-account.js
  server/dev-setup/admins.json
  server/dev-setup/create-admin-account.js
Labels: tech

#391 change buttons' label
  client/src/candidat.js
Labels: candidat, enhancement

#403 :bug: Fix-token-in-url-in-mail
  server/dev-setup/planning-93.csv
  server/src/routes/business/build-mail-cancellation-by-admin.js
  server/src/routes/business/build-mail-cancellation.js
  server/src/routes/business/build-mail-convocation.js
  server/src/routes/business/build-mail-failure-exam.js
  server/src/routes/business/mail/mail.constants.js
  server/src/routes/business/send-mail.js
Labels: bug, candidat

#382 Feat/new version aurige
  client/src/views/admin/components/AgGridAurigeStatusFilter.vue
  client/src/views/admin/components/AurigeValidation.vue
  client/src/views/admin/components/ag-grid-utils.js
  server/dev-setup/aurige.new.json
  server/dev-setup/aurigeV2.json
  server/dev-setup/candidats.json
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/candidat/objetDernierNonReussite.values.js
  server/src/routes/admin/business/__tests__/aurige.js
  server/src/routes/admin/business/__tests__/aurige.json
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
Labels: admin, server

#405 devops: start pm2 in production mode
  server/Dockerfile
Labels: devops, enhancement

#406 :sparkles: Configure morgan to log in json
  server/src/app.js
  server/src/util/logger.js
Labels: devops, server, tech

#417 fix error get canBookedFrom in MyReservation
  client/src/views/candidat/components/selection-summary/MyReservation.vue
Labels: bug, candidat

#418 :art: Fix formatting and remove unused code
  server/src/routes/business/mail/mail.constants.js
  server/src/util/logger.js
Labels: tech

#408 :sparkles: Ajouter la résa à la fiche candidat
  client/src/store/admin-search.js
  client/src/views/admin/components/SearchCandidat.vue
  server/src/models/candidat/candidat.model.js
  server/src/models/place/place.queries.js
  server/src/routes/admin/candidats.controllers.js
Labels: candidat, enhancement

#420 Feat/add bandeau beta
  client/src/assets/images/beta.png
  client/src/components/BandeauBeta.stories.js
  client/src/components/BandeauBeta.vue
  client/src/components/index.js
  client/src/main.js
  client/src/views/Message.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/Login.vue
  client/src/views/candidat/components/CandidatHeader.vue
Labels: admin, candidat

#424 :sparkles: change message FAQ
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, enhancement

#421 fix message INSPECTEUR_SCHEDULE_INCONSISTENCY_ERROR and change center…
  server/dev-setup/planning-75.csv
  server/dev-setup/planning-93.csv
  server/src/models/place/errors.constants.js
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#429 :bug: afficher fiche même sans resa
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, bug

#425 Fix/take departement data
  client/src/store/center.js
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  server/dev-setup/candidats.json
  server/src/routes/candidat/candidat.controllers.js
Labels: candidat

#434 :loud_sound: Improve logs
  server/src/routes/admin/middlewares/verify-admin-departement.js
  server/src/routes/admin/middlewares/verify-admin-departement.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/business/send-mail-schedule-inspecteur.js
  server/src/routes/common/centre.controllers.js
  server/src/util/logger.js
  server/src/util/logger.spec.js
Labels: devops, server, tech

#437 Ajout fichier description et alignement jeux de tests
  server/dev-setup/README.md
  server/dev-setup/aurigeV1.json
  server/dev-setup/aurigeV2.json
Labels: devops

#426 fix/security-nginx
  client/nginx/nginx.template
Labels: devops

#450 Fix typo message code departement
  server/src/routes/common/centre.controllers.js
Labels: enhancement

#448 Fix/check no reussite aurige #446
  server/src/routes/admin/business/synchro-aurige.js
Labels: bug, server

#445 Fix display right penalty message
  server/src/models/candidat/candidat.queries.js
Labels: EPIC : Gérer les candidats, candidat, server

#452 fix error on center name and add new format csv place for 75
  server/dev-setup/centres.json
  server/dev-setup/planning-75.csv
Labels: bug, tech

#422 fix hide for candidats creneaux range 12h to 13h30 fixes #395
  client/src/store/time-slots.js
  client/src/util/creneauSetting.js
  client/src/views/admin/components/ag-grid-utils.js
Labels: EPIC : Gérer les candidats, bug, candidat

#428 fix handle expiration of email validation
  client/src/components/AppSnackbar.vue
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/candidat.controllers.spec.js
  server/src/util/date.util.js
Labels: EPIC : Gérer les candidats, bug, candidat

#459 :bug: Pointer OSM sur la géoloc fixes #453
  client/src/views/candidat/components/selection-summary/ReservationInfo.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
Labels: bug, candidat

#460 Disposer du nom x neph du candidat sur en survolant l'icone. #439
  client/src/views/admin/components/ScheduleInspectorDialog.vue
Labels: admin, enhancement

#451 Feat/implementer model departement
  server/src/app.spec.js
  server/src/models/departement/departement.model.js
  server/src/models/departement/departement.queries.js
  server/src/models/departement/departement.queries.spec.js
  server/src/models/departement/index.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.controllers.js
Labels: admin, enhancement

#461 :bug: Remove diacritics on both the front and backend
  client/src/candidat.js
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/candidat/components/SignupForm.vue
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/routes/candidat/candidat.controllers.js
Labels: bug, candidat

#447 Fix/export candidat for aurige
  server/src/routes/admin/business/export-candidats.js
  server/src/routes/admin/business/export-candidats.spec.js
Labels: bug, server

#468 Set infos as Numbers in nginx-style logs fixes #464
  server/src/util/logger.js
Labels: devops, server, tech

#467 Feat/replier et rouvrir le champ de recherches
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ProfileInfo.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/src/views/admin/components/SearchInspecteur.vue
Labels: admin, enhancement

#469 :sparkles: Afficher message explicite aux absents de la whitelist
  server/src/routes/candidat/candidat.controllers.js
Labels: candidat, enhancement

#462 Fix bug auto retractation of TimeSlots
  client/src/router.js
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/selection-summary/MyReservation.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
Labels: bug, candidat

#475 fix: wording of message 'candidat not found' in synchro-aurige
  server/src/routes/admin/business/synchro-aurige.js
Labels: enhancement

#476 fix doublon noReussites in mongo when synchro-aurige launch
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
Labels: bug, server

#474 Modifier message pour modif nom/neph #471
  server/src/routes/candidat/candidat.controllers.js
Labels: candidat, enhancement

#480 refactor timeSlots parser
  client/src/store/time-slots.js
  client/src/store/time-slots.spec.js
  client/src/store/utils/index.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/src/routes/candidat/candidat.controllers.js
Labels: bug, candidat, tech

#478 :zap: Do not use v-dialog in repeated component
  client/package-lock.json
  client/package.json
  client/src/plugins/index.js
  client/src/plugins/v-clipboard.js
  client/src/views/admin/components/Whitelist.vue
  client/src/views/admin/components/Whitelisted.vue
  server/dev-setup/setup.js
Labels: admin, enhancement

#482 Fix env all + api
  server/docker-compose.prod.all.yml
  server/docker-compose.prod.api.yml
Labels: devops, server, tech

#487 :bug: Afficher message pénalité adapté
  client/package-lock.json
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: candidat

#488 :sparkles: Ajouter nom du centre dans confirmation
  client/src/store/center.js
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
Labels: admin, enhancement

#492 Feat/add autocomplete for whitelist #479
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/whitelist.js
  client/src/views/admin/components/CandilibAutocomplete.vue
  client/src/views/admin/components/SearchEmail.stories.js
  client/src/views/admin/components/SearchEmail.vue
  client/src/views/admin/components/Whitelist.vue
  server/src/models/whitelisted/whitelisted.queries.js
  server/src/routes/admin/whitelisted.controllers.js
Labels: admin, enhancement

#486 Feat/ameliorer champs recherche
  client/src/main.styl
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ProfileInfo.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/src/views/admin/components/SearchInspecteur.vue
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/common/reason.constants.js
Labels: admin, enhancement

#483 :pencil2: Display clear message for invalid token
  client/src/api/index.js
  client/src/store/aurige.js
  client/src/store/auth.js
Labels: admin, candidat, enhancement

#481 Tech/upgrade dependencies
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
  server/src/mongo-connection.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/business/mail/cancel-booking-template.js
  server/src/routes/business/mail/convocation-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/places.controllers.spec.js
Labels: tech

#491 fix: subject and date in mail failed send bordereau
  server/src/routes/business/send-mail-schedule-inspecteur.js
  server/src/util/date.util.js
Labels: bug

#495 :ok_hand: Remove create-long-whitelist
  server/dev-setup/setup.js
Labels: bug, tech
