Repository LAB-MI/candilibV2, pull requests merged in 2019-11, with the labels that each got.

#680 Fix/refacto api routes #334
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/time-slots.js
  server/src/config.js
  server/src/routes/admin/index.js
  server/src/routes/admin/places-controllers.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/candidat/places.controllers.spec.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/candidat/reservations.controllers.spec.js
Labels: Paiment dette technique, admin, candidat, server, tech

#767 Doc/documentation open api candidat
  client/package-lock.json
  server/jsdoc-config.js
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/user/user.queries.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/auth/candidat-controllers.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/index.js
  server/src/routes/middlewares/verify-token.js
Labels: docs

#812 Fix/create password reset
  client/package-lock.json
  client/src/views/admin/components/EmailPasswordReset.vue
  client/src/views/admin/components/Login.vue
Labels: admin

#827 :bug: Fix password reset form validation
  client/package-lock.json
  client/src/views/admin/components/EmailPasswordReset.vue
Labels: bug

#820 :bug: Redirect page login if reset link invalid
  client/src/views/admin/components/ResetPassword.vue
  client/tests/e2e/specs/adminResetPassword.js
  server/src/routes/auth/admin-controllers.js
Labels: admin, bug

#830 :pencil2: Fix: change stats kpi label of charts
  client/package-lock.json
  client/src/views/admin/components/statsKpi/ChartsStatsKpi.vue
  client/tests/e2e/specs/adminResetPassword.js
  server/package-lock.json
Labels: EPIC: STAT KPI, admin, wording

#811 :pencil: fix error on open api swagger
  server/src/app.js
  server/src/routes/admin/index.js
Labels: docs, server, tech

#836 :bug: add options beginAtZero and set it as true
  client/src/views/admin/components/statsKpi/ChartBar.vue
Labels: admin, bug

#846 Fix swagger doc to comply with OpenAPI 3
  server/src/app.js
  server/src/routes/admin/index.js
  server/src/routes/auth/index.js
  server/src/routes/candidat/index.js
  server/src/routes/index.js
Labels: docs

#826 feat/send-bordereau-to-selected-ipcsr-api-#797
  server/src/models/place/place.queries.js
  server/src/routes/admin/index.js
  server/src/routes/admin/places-business.js
  server/src/routes/admin/places-controllers.js
  server/src/routes/admin/places-controllers.spec.js
  server/src/routes/business/send-mail-schedule-inspecteur.js
Labels: admin, server

#835 Feat/send bordereau to selected ipcsr front #534
  client/src/admin.js
  client/src/api/index.js
  client/src/main.styl
  client/src/store/admin-bordereaux.js
  client/src/views/admin/components/CandilibAutocomplete.vue
  client/src/views/admin/components/DepartementSelector.vue
  client/src/views/admin/components/StatsKpi.stories.js
  client/src/views/admin/components/schedule/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/schedule/InspecteurListBordereauxContent.vue
  client/src/views/admin/components/schedule/ScheduleInspector.vue
  client/tests/e2e/specs/adminPlanning.js
  client/vue.config.js
  server/dev-setup/planning-93.csv
  server/src/models/place/place.queries.js
  server/src/routes/admin/index.js
  server/src/routes/admin/inspecteurs-business.js
  server/src/routes/admin/inspecteurs-controllers.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places-controllers.spec.js
  server/src/routes/business/__tests__/expect-send-mail.js
Labels: admin, server

#813 Feat/create route repartiteur délégué
  client/src/views/candidat/components/CandidatHeader.vue
  docs/CandilibV2.postman_collection.json
  server/package-lock.json
  server/package.json
  server/src/models/candidat/candidat.queries.js
  server/src/models/user/user.model.js
  server/src/models/user/user.queries.js
  server/src/models/user/user.queries.spec.js
  server/src/routes/admin/admin.controllers.js
  server/src/routes/admin/admin.controllers.spec.js
  server/src/routes/admin/business/index.js
  server/src/routes/admin/business/users.js
  server/src/routes/admin/business/users.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
  server/src/routes/auth/admin.controllers.spec.js
  server/src/routes/business/send-mail-update-user-info.js
  server/src/util/password.js
Labels: admin, enhancement

#832 Build & deploy dev environment on netlify/heroku
  .gitignore
  .travis.yml
  Makefile
  Makefile.mk
  ci/deploy.sh
  ci/run-tests.sh
  ci/slackpost.sh
  heroku.yml.sample
  netlify.toml.sample
  server/Dockerfile
  server/docker-compose.prod.all.yml
  server/docker-compose.prod.api.yml
  server/src/config.js
Labels: devops

#847 Feat/create front repartiteur delegue
  client/cypress.env.json
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/constants.js
  client/src/main.styl
  client/src/router.js
  client/src/store/admin.js
  client/src/store/auth.js
  client/src/store/index.js
  client/src/store/users.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/repartiteurDelegue/DeleteUser.vue
  client/src/views/admin/components/repartiteurDelegue/UserCreate.vue
  client/src/views/admin/components/repartiteurDelegue/Users.vue
  client/src/views/admin/components/repartiteurDelegue/UsersList.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/tests/e2e/specs/adminUsers.js
  server/src/config.js
  server/src/routes/admin/admin.controllers.spec.js
  server/src/routes/admin/business/users.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
Labels: admin, enhancement
