Repository LAB-MI/candilibV2, pull requests merged in 2019-08, with the labels that each got.

#552 Feat/cancel inspector places #293
  client/src/api/index.js
  client/src/router.js
  client/src/store/admin-places-inspecteur.js
  client/src/store/index.js
  client/src/util/creneauSetting.js
  client/src/views/admin/components/FillShedulesPlaces.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/admin/components/schedule/DeleteScheduleInspector.vue
  client/src/views/admin/components/schedule/GenerateInspecteurBordereaux.stories.js
  client/src/views/admin/components/schedule/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/schedule/PlaceAction.vue
  client/src/views/admin/components/schedule/PlaceActionHeader.vue
  client/src/views/admin/components/schedule/ScheduleInspector.stories.js
  client/src/views/admin/components/schedule/ScheduleInspector.vue
  client/src/views/admin/components/schedule/ScheduleInspectorButton.vue
  client/src/views/admin/components/schedule/ScheduleInspectorDetails.stories.js
  client/src/views/admin/components/schedule/ScheduleInspectorDetails.stories.store.js
  client/src/views/admin/components/schedule/ScheduleInspectorDetails.vue
  client/src/views/admin/components/schedule/ScheduleManager.vue
  server/src/models/__tests__/places.js
  server/src/models/__tests__/reservations.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
Labels: admin, enhancement

#607 Fix bad increment date of gestion planning
  client/src/views/admin/components/schedule/ScheduleInspector.vue
Labels: admin, bug

#610 Remove some label in candidat profile
  client/src/views/candidat/components/MyProfile.vue
Labels: bug, candidat

#611 Add reservation time on fiche candidat
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, bug

#618 fix error on displayed center when affect candidat
  client/src/views/admin/components/schedule/ScheduleInspector.vue
Labels: admin, bug

#614 remove candidat when email hash is expired
  client/src/store/candidat.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/message.constants.js
Labels: candidat, server, tech

#615 remove useless time of ETG in fiche candidat
  client/src/admin.js
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, bug

#625 fix/orthographe-infobulle-tdb-#601
  client/src/admin.js
  client/src/views/admin/components/DataTableWeekMonitor.vue
Labels: admin, bug

#627 Add rubrique Aide/contact in Faq
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, enhancement

#629 :zap: Improve fonts loading
  client/config/storybook/preview-head.html
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/plugins/vuetify.js
Labels: tech

#628 Feat/api stat kpi for exam results
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/StatsKpi.vue
  server/src/models/centre/centre.queries.js
  server/src/routes/admin/__tests__/candidats-stat.js
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/index.js
  server/src/routes/admin/statistics.business.js
  server/src/routes/admin/statistics.business.spec.js
  server/src/routes/admin/statistics.controllers.js
Labels: admin

#624 planning ipcsr on other departement #598
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/admin-modif-inspecteur.js
  client/src/store/admin.js
  client/src/views/admin/components/schedule/ScheduleInspector.vue
  client/src/views/admin/components/schedule/ScheduleInspectorDetails.stories.store.js
  server/src/routes/admin/inspecteurs.controllers.js
  server/src/routes/admin/message.constants.js
Labels: admin, bug

#630 :zap: Optimize background image
  client/src/assets/bg-presignup.jpg
Labels: candidat

#633 Revert ":bug: Fix unnecessary double API call of all places"
  client/src/views/admin/components/schedule/ScheduleInspector.vue
Labels: admin

#634 :lipstick: Fix inconsistency in list of center
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
Labels: bug, candidat

#635 update mail contacts in FAQ
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, wording

#640 add catch excepetion in getCandidats and formatted logger
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/inspecteurs.controllers.js
  server/src/routes/admin/message.constants.js
Labels: server

#641 add bold and underline in mail to validate e-mail address
  server/src/routes/business/mail/validation-email-template.js
Labels: candidat, wording

#650 Fix/upgrade dependencies
  client/package-lock.json
  client/package.json
  client/src/views/admin/components/Whitelist.vue
  server/package-lock.json
  server/package.json
  server/src/index.js
  server/src/models/evaluation/evaluation.queries.js
  server/src/models/place/errors.constants.js
  server/src/routes/admin/business/export-candidats.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.business.spec.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/admin/whitelisted.controllers.spec.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/reservations.controllers.js
Labels: bug, tech

#654 Feat/force center case #574
  client/src/main.styl
  client/src/util/index.js
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/admin/components/schedule/ScheduleInspector.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/selection-summary/ReservationInfo.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  server/src/routes/business/mail/cancel-booking-by-admin-template.js
  server/src/routes/business/mail/cancel-booking-template.js
  server/src/routes/business/mail/convocation-template.js
  server/src/routes/business/mail/epreuve-pratique-ko-template.js
Labels: admin, candidat, wording

#656 :bug: send schedule inspecteurs to inspecteurs
  server/src/routes/admin/places.business.js
Labels: bug, server

#665 :pencil2: Tell user the checkboxes are mandatory
  client/src/candidat.js
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
Labels: candidat, enhancement

#631 Tech/improve performance
  client/public/index.html
  client/src/assets/fonts/poppins/Poppins-Medium.woff2
  client/src/assets/fonts/poppins/Poppins-Regular.woff2
  client/src/assets/images/beta.png
  client/src/candidat.js
  client/src/components/AppEvaluation.vue
  client/src/main.js
  client/src/main.styl
  client/src/router.js
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  server/src/routes/business/mail/cancel-booking-template.js
  server/src/routes/business/mail/convocation-template.js
Labels: admin, candidat

#651 Improve logs (candidat)
  server/src/models/candidat/candidat.queries.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/auth/candidat.controllers.js
  server/src/routes/auth/candidat.controllers.spec.js
  server/src/routes/candidat/__mocks__/candidat.business.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.business.spec.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/candidat/reservations.controllers.js
  server/src/routes/common/centre.controllers.js
  server/src/util/send-error-response.js
Labels: server, tech

#666 Add department in response synchro-aurige
  server/src/routes/admin/business/synchro-aurige.js
Labels: admin, enhancement, tech
