Repository LAB-MI/candilibV2, pull requests merged in 2019-12, with the labels that each got.

#844 Feat/add link contact in magic link mail #803
  server/src/routes/admin/__tests__/candidats-stat.js
  server/src/routes/admin/business/__tests__/candidats.json
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/business/__mocks__/send-mail.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/mail/validation-email-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail-util.js
  server/src/routes/business/send-message-constants.js
  server/src/routes/candidat/candidat.business.spec.js
  server/src/routes/candidat/candidat.controllers.spec.js
Labels: candidat, server

#851 :white_check_mark: Fix e2e tests
  client/tests/e2e/specs/adminUsers.js
Labels: bug

#859 :tada: Add mail for FAQ
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat

#868 netlify: Force netlify-cli version (bug in 2.24.0)
  ci/deploy.sh
Labels: bug

#866 Feat/give access to delegue
  server/src/config.js
  server/src/models/user/user.queries.js
  server/src/models/user/user.queries.spec.js
  server/src/routes/admin/admin.controllers.js
  server/src/routes/admin/admin.controllers.spec.js
  server/src/routes/admin/business/users.js
  server/src/routes/admin/business/users.spec.js
Labels: admin, enhancement

#849 Fix/forbid candidat to get places and to book from other department
  server/src/models/__tests__/candidats.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/message.constants.js
  server/src/routes/candidat/middlewares/verify-candidat.js
  server/src/routes/candidat/middlewares/verify-candidat.spec.js
  server/src/routes/candidat/places-controllers.spec.js
Labels: bug, candidat

#877 Upgrade netlify-cli@2.24.0: fix bug with output json
  ci/deploy.sh
Labels: devops

#858 Add components for password indications
  client/src/util/regex.js
  client/src/views/admin/components/Checker.vue
  client/src/views/admin/components/PasswordChecker.vue
  client/src/views/admin/components/ResetPassword.vue
  client/tests/e2e/specs/adminResetPassword.js
Labels: admin

#857 Feat/update front repartiteur delegue
  client/cypress.env.json
  client/package.json
  client/src/api/index.js
  client/src/store/admin.js
  client/src/store/users.js
  client/src/views/admin/components/repartiteurDelegue/DeleteUser.vue
  client/src/views/admin/components/repartiteurDelegue/SelectDepartements.vue
  client/src/views/admin/components/repartiteurDelegue/SelectStatus.vue
  client/src/views/admin/components/repartiteurDelegue/UpdateUser.vue
  client/src/views/admin/components/repartiteurDelegue/UserCreate.vue
  client/src/views/admin/components/repartiteurDelegue/UsersList.vue
  client/tests/e2e/specs/adminUsers.js
  server/src/models/user/user.queries.js
  server/src/routes/admin/admin.controllers.js
  server/src/routes/admin/business/users.js
Labels: admin, enhancement

#848 Feat/add step landing page
  Makefile.mk
  client/Dockerfile
  client/docker-compose.prod.front.yml
  client/nginx/run.sh
  client/public/config-candilib.json
  client/src/App.vue
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/candidat.js
  client/src/store/auth.js
  client/src/store/config.js
  client/src/store/index.js
  client/src/views/candidat/components/CandidatStepper.vue
  client/src/views/candidat/components/LandingPage.vue
  server/docker-compose.dev.yml
  server/docker-compose.prod.all.yml
  server/docker-compose.prod.api.yml
  server/src/config.js
  server/src/routes/candidat/business/candidat-config-business.js
  server/src/routes/candidat/business/candidat-config-business.spec.js
  server/src/routes/candidat/candidat-config-controller.js
  server/src/routes/candidat/candidat-config-controller.spec.js
  server/src/routes/index.js
Labels: EPIC : fin Whitelist, candidat

#887 Fix LINE_DELAY detection at build time
  client/Dockerfile
Labels: bug

#886 nginx config enhanced
  client/nginx/nginx-run-admin.template
  client/nginx/nginx-run-candidat.template
Labels: devops, tech

#850 feat/create-mail-for-wait-30-days-#802
  server/dev-setup/aurige.new.json
  server/src/models/candidat/candidat.model.js
  server/src/routes/admin/business/__tests__/aurigeWithAccessAt.json
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/auth/candidat-controllers.js
  server/src/routes/auth/index.js
  server/src/routes/business/__mocks__/send-mail.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail.js
Labels: candidat, server

#896 :tada: :sparkles: add canAccessAt for profile Candidat
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, enhancement
