Repository LAB-MI/candilibV2, pull requests merged in 2019-09, with the labels that each got.

#643 Feat/refacto schedule inspector
  client/src/components/RefreshButton.vue
  client/src/store/admin.js
  client/src/views/admin/components/schedule/ScheduleInspector.vue
Labels: bug

#673 Detect first connection of candidat
  client/src/api/index.js
  client/src/router-checks.js
  client/src/store/auth.js
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/routes/auth/candidat.controllers.js
  server/src/routes/middlewares/verify-token.js
  server/src/routes/middlewares/verify-token.spec.js
Labels: candidat, enhancement

#678 Add new sentence in FAQ
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, wording

#688 Fix/error date in message candidat #683
  client/src/candidat.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: bug, candidat

#708 Tech/add jsdoc to api
  .gitignore
  server/.env-example
  server/README.md
  server/jsdoc-config.js
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/config.js
  server/src/index.js
  server/src/messages.constants.js
  server/src/models/place/place.queries.js
  server/src/routes/admin/places.business.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/mail/validation-email-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/places.business.js
  server/src/routes/candidat/places.controllers.js
  server/src/routes/common/centre.controllers.js
  server/src/routes/index.js
  server/src/routes/middlewares/verify-token.js
  server/src/routes/middlewares/verify-token.spec.js
  server/swagger.json
Labels: server, tech

#727 Fix max body size upload in Aurige Import
  client/nginx/nginx-run-admin.template
  client/package-lock.json
  server/package-lock.json
Labels: EPIC : Lien Aurige, admin, bug

#745 Fix force toLowerCase on email at magic-link request
  client/src/views/candidat/components/AlreadySignedUp.vue
  client/src/views/candidat/components/SignupForm.vue
Labels: candidat, enhancement
