Repository LAB-MI/candilibV2, pull requests merged in 2019-05, with the labels that each got.

#321 Fix/load schedule #252
  .vscode/launch.json
  .vscode/settings.json
  client/src/components/UploadFile.vue
  client/src/main.styl
  client/src/store/import-places.js
  client/src/views/admin/components/AdminImportPlaces.vue
  client/src/views/admin/components/FillShedulesPlaces.stories.js
  client/src/views/admin/components/FillShedulesPlaces.vue
  client/src/views/admin/components/ScheduleManager.vue
  client/src/views/candidat/components/CandidatStepper.vue
  server/babel.config.js
  server/dev-setup/planning-93.csv
  server/src/models/__tests__/centres.js
  server/src/models/__tests__/inspecteurs.js
  server/src/models/__tests__/places.js
  server/src/models/__tests__/reservations.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/inspecteur/inspecteur.model.js
  server/src/models/place/errors.constants.js
  server/src/models/place/index.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/business/__tests__/places-test.csv
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/candidats.controller.spec.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservation.controllers.spec.js
  server/src/routes/candidat/places.business.spec.js
  server/src/routes/candidat/places.controllers.spec.js
  server/src/routes/candidat/reservations.controllers.spec.js
  server/src/routes/common/centre.controllers.spec.js
  server/src/util/date.util.js
Labels: admin, enhancement

#313 Feat/display schedule inspectors #266
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/candidat.js
  client/src/main.styl
  client/src/router.js
  client/src/store/admin.js
  client/src/util/creneauSetting.js
  client/src/util/frenchDateTime.js
  client/src/util/index.js
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/DepartementSelector.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/RefreshButton.vue
  client/src/views/admin/components/ScheduleInspector.stories.js
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ScheduleInspectorDialog.vue
  client/src/views/admin/components/ScheduleManager.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  client/src/views/admin/components/SheduleInspectorDialogHeader.vue
  client/src/views/admin/components/SheduleInspectorDialogSubContent.vue
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  server/dev-setup/inspecteurs.json
  server/dev-setup/planning-93.csv
  server/src/models/inspecteur/inspecteur.model.js
  server/src/models/inspecteur/inspecteur.queries.js
  server/src/routes/admin/index.js
  server/src/routes/admin/inspecteurs.controllers.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/admin/reservations.controllers.spec.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement

#319 :bug: typo dans 'créneau' fixes #245
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: bug, candidat

#323 Fix/load whitelist by departement #311
  client/src/api/index.js
  client/src/store/whitelist.js
  client/src/stories/admin.stories.js
  client/src/views/admin/components/Whitelist.stories.js
  client/src/views/admin/components/Whitelist.vue
  server/src/routes/admin/whitelisted.controllers.js
  server/src/routes/admin/whitelisted.controllers.spec.js
Labels: admin, bug

#322 :bug: afficher centre sans créneau fixes #246
  client/src/router.js
  client/src/views/Guest.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/center-selection/CenterSelectionContent.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  server/src/routes/admin/inspecteurs.controllers.js
  server/src/routes/admin/reservations.controllers.js
Labels: bug, candidat

#314 WIP Feat/render avalaible creneau unavailable #297
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/admin.js
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  server/dev-setup/planning-93.csv
  server/src/routes/admin/index.js
  server/src/routes/admin/places.controllers.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement

#329 Fix
  client/src/store/admin.js
  client/src/views/admin/components/ScheduleInspector.vue
  server/dev-setup/inspecteurs.json
  server/dev-setup/planning-75.csv
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#324 :pencil2: Fix formulation mail annulation #309
  server/src/routes/business/mail/cancel-booking-by-admin-template.js
Labels: admin, bug

#315 Feat/render unavalaible creneau available #298
  client/src/api/index.js
  client/src/store/admin.js
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  server/src/models/place/place.model.js
  server/src/routes/admin/index.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement

#330 Fix: rename renderCreneauAvalaible to makeCreneauAvalaible
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#316 Feat/cancel booked creneau #302
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/router.js
  client/src/store/admin.js
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  server/src/routes/admin/index.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement

#331 :bug: fix affichage alert penalité #278
  client/package-lock.json
  client/package.json
  client/src/candidat.js
  client/src/util/frenchDateTime.js
  client/src/util/frenchDateTime.spec.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: bug, candidat

#343 :bug: Use Europe/Paris time zone
  client/package-lock.json
  client/src/util/frenchDateTime.js
  client/src/util/frenchDateTime.spec.js
  server/src/routes/admin/places.business.js
  server/src/util/date.util.js
Labels: bug

#342 fix public path in proxy of devServer
  client/vue.config.js
Labels: bug

#341 fix overlapping button
  client/src/components/UploadFile.vue
  client/src/main.styl
  client/src/views/admin/components/AdminImportPlaces.vue
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/ImportPlacesValidation.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ScheduleManager.vue
  client/src/views/candidat/components/CandidatHeader.vue
  server/src/routes/admin/places.business.js
Labels: admin, bug

#344 Feat/keep route and store sync
  client/src/router.js
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  client/src/views/admin/components/WeekMonitor.vue
Labels: EPIC : Gérer les plannings IPCSR, admin

#346 Add departement in whitelist error message #338
  client/src/store/whitelist.js
  server/src/routes/admin/whitelisted.controllers.js
Labels: EPIC : Gérer les candidats, admin, enhancement

#318 WIP Feat/modify inspecteur for reservation #257
  client/src/api/index.js
  client/src/store/admin-modif-inspecteur.js
  client/src/store/index.js
  client/src/views/admin/components/ScheduleInspector.stories.js
  client/src/views/admin/components/SheduleInspectorDialogContent.stories.js
  client/src/views/admin/components/SheduleInspectorDialogContent.stories.store.js
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  client/src/views/admin/components/SheduleInspectorDialogHeader.vue
  client/src/views/admin/components/SheduleInspectorDialogSubContent.vue
  client/src/views/admin/components/searchInspecteur/ListSearchInspecteursAvailable.stories.js
  client/src/views/admin/components/searchInspecteur/ListSearchInspecteursAvailable.stories.store.js
  client/src/views/admin/components/searchInspecteur/ListSearchInspecteursAvailable.vue
  server/src/models/__tests__/places.js
  server/src/models/__tests__/reservations.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/business/__tests__/places-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservations.controllers.js
  server/src/routes/admin/reservations.controllers.spec.js
  server/src/util/error.status.js
Labels: EPIC : Gérer les plannings IPCSR, admin, enhancement, server

#347 :bug: Fix style syntax error
  client/src/views/candidat/components/CandidatHeader.vue
Labels: bug, candidat

#332 Feat/affect candidat to available creneau #258
  client/src/api/index.js
  client/src/store/admin.js
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  client/src/views/admin/components/SheduleInspectorDialogHeader.vue
  client/src/views/admin/components/SheduleInspectorDialogSubContent.vue
  server/src/models/__tests__/candidats.js
  server/src/models/__tests__/index.js
  server/src/models/__tests__/places.js
  server/src/models/__tests__/reservations.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places.business.js
  server/src/routes/admin/places.controllers.js
  server/src/routes/admin/places.controllers.spec.js
  server/src/routes/admin/reservations.controllers.spec.js
  server/src/util/index.js
Labels: EPIC : Gérer les plannings IPCSR, admin

#349 :lipstick:Optimise access home & menu #337
  client/src/components/PageTitle.vue
  client/src/components/RefreshButton.vue
  client/src/components/index.js
  client/src/main.js
  client/src/main.styl
  client/src/router.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/AurigeValidation.vue
  client/src/views/admin/components/CandidatsList.vue
  client/src/views/admin/components/FillShedulesPlaces.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/Monitors.vue
  client/src/views/admin/components/RefreshButton.vue
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ScheduleManager.vue
  client/src/views/admin/components/WeekMonitor.vue
  client/src/views/admin/components/Whitelist.vue
  client/src/views/candidat/components/MyProfile.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/mentions-legales/MentionsLegales.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: admin, enhancement

#355 Fix/ rename function refreshPlanning to reloadWeekMonitor in component ScheduleInspector
  client/src/views/admin/components/ScheduleInspector.vue
Labels: admin, bug

#353 :bug: Redirect to landing page for candidat
  client/src/views/CandidatHome.vue
Labels: bug, candidat

#368 Fix/add confirmation when delete booked place
  client/src/api/index.js
  client/src/store/admin.js
  client/src/views/admin/components/SheduleInspectorDialogContent.vue
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/index.js
Labels: EPIC : Gérer les plannings IPCSR, admin, bug

#372 :lipstick: Increase timeout for message to 9s
  client/src/store/message.js
Labels: enhancement

#376 fix error on luxon timezone unit test
  client/src/util/frenchDateTime.js
  client/src/util/frenchDateTime.spec.js
Labels: bug, tech

#371 retrieve departement from adresse
  client/src/views/candidat/components/SignupForm.vue
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/routes/auth/candidat.controllers.js
Labels: candidat

#377 Fix display bugs in time slots
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: bug, candidat

#373 refactor parseInspecteursPlanning
  client/src/store/admin.js
  client/src/views/admin/components/ScheduleInspector.vue
  client/src/views/admin/components/ScheduleInspectorDialog.vue
  client/src/views/admin/components/WeekMonitor.vue
  server/src/routes/admin/candidats.controllers.js
Labels: EPIC : Gérer les plannings IPCSR, admin, bug, tech

#378 :recycle: Refacto v-alert to have only one
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: candidat

#379 :bug: Set email in lower case on input
  client/src/views/candidat/components/SignupForm.vue
Labels: bug

#380 :bug: Fix departement switch
  client/src/store/admin.js
Labels: admin, bug

#381 :sparkles: Keep active departement on refresh
  client/src/constants.js
  client/src/store/admin.js
Labels: admin
