Repository LAB-MI/candilibV2, pull requests merged in 2020-01, with the labels that each got.

#890 FAQ with waiting-line, open departments, no whitelist
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/departements.js
  client/src/store/index.js
  client/src/store/paris-centers.js
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
  server/src/app.js
  server/src/models/centre/centre.queries.js
  server/src/models/departement/departement.queries.js
  server/src/routes/auth/index.js
  server/src/routes/candidat/candidat-departements-controller.js
  server/src/routes/candidat/candidat-departements-controller.spec.js
  server/src/routes/candidat/candidat-deptCenters-controller.js
  server/src/routes/candidat/candidat-deptCenters-controller.spec.js
  server/src/routes/candidat/index.js
  server/src/routes/index.js
Labels: admin, enhancement

#903 Feat/manage ipcsr
  client/src/api/index.js
  client/src/constants.js
  client/src/router.js
  client/src/store/admin.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/Agents.vue
  client/src/views/admin/components/Checker.vue
  client/src/views/admin/components/EmailPasswordReset.vue
  client/src/views/admin/components/PasswordChecker.vue
  client/src/views/admin/components/SelectDepartements.vue
  client/src/views/admin/components/ipcsr/CreateIpcsr.vue
  client/src/views/admin/components/ipcsr/DeleteIpcsr.vue
  client/src/views/admin/components/ipcsr/Ipcsr.vue
  client/src/views/admin/components/ipcsr/ListIpcsr.vue
  client/src/views/admin/components/ipcsr/UpdateIpcsr.vue
  client/src/views/admin/components/repartiteurDelegue/UpdateUser.vue
  client/src/views/admin/components/repartiteurDelegue/UserCreate.vue
  client/src/views/admin/components/repartiteurDelegue/Users.vue
  client/src/views/admin/components/repartiteurDelegue/UsersList.vue
  client/tests/e2e/specs/adminIpcsr.js
  client/tests/e2e/specs/adminUsers.js
  server/package-lock.json
  server/package.json
  server/src/config.js
  server/src/models/inspecteur/index.js
  server/src/models/inspecteur/inspecteur-model.js
  server/src/models/inspecteur/inspecteur-queries.js
  server/src/models/inspecteur/inspecteur-queries.spec.js
  server/src/models/inspecteur/inspecteur.queries.js
  server/src/models/place/place.queries.js
  server/src/models/user/user.model.js
  server/src/routes/admin/business/users.js
  server/src/routes/admin/index.js
  server/src/routes/admin/inspecteurs-business.js
  server/src/routes/admin/inspecteurs-controllers.js
  server/src/routes/admin/places-business.js
Labels: admin, enhancement

#897 Add api access limitations (nginx)
  Makefile.mk
  client/docker-compose.prod.front.yml
  client/nginx/nginx-run-admin.template
  client/nginx/nginx-run-candidat.template
  client/nginx/nginx.template
  client/nginx/run.sh
Labels: devops, enhancement, tech

#872 Affichage et ajout des centres
  .vscode/settings.json
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/constants.js
  client/src/router.js
  client/src/store/admin.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/centres/CenterCreate.vue
  client/src/views/admin/components/centres/CenterList.vue
  client/src/views/admin/components/centres/CenterListDialog.vue
  docs/regles-log.md
  package-lock.json
  server/src/app.js
  server/src/config.js
  server/src/models/__tests__/centres.js
  server/src/models/centre/centre-model.js
  server/src/models/centre/centre-queries.js
  server/src/models/centre/centre-queries.spec.js
  server/src/models/centre/centre.model.js
  server/src/models/centre/centre.queries.js
  server/src/models/centre/index.js
  server/src/routes/admin/index.js
  server/src/routes/admin/inspecteurs-business.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places-business.js
  server/src/routes/admin/places-controllers.js
  server/src/routes/admin/places-controllers.spec.js
  server/src/routes/candidat/index.js
  server/src/routes/candidat/places-business.js
  server/src/routes/common/centre-business.js
  server/src/routes/common/centre-business.spec.js
  server/src/routes/common/centre-controllers.js
  server/src/routes/common/centre-controllers.spec.js
  server/src/routes/common/centre.business.js
  server/src/routes/common/centre.controllers.js
Labels: admin, enhancement

#901 Feat/create departement api #888
  server/src/config.js
  server/src/models/__tests__/departements.js
  server/src/models/__tests__/index.js
  server/src/models/departement/departement.model.js
  server/src/models/departement/departement.queries.js
  server/src/models/user/user.queries.js
  server/src/models/user/user.queries.spec.js
  server/src/routes/admin/departement-business.js
  server/src/routes/admin/departement-controllers.js
  server/src/routes/admin/departement-controllers.spec.js
  server/src/routes/admin/index.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/statistics.business.spec.js
Labels: EPIC: Gestion par les utilisateurs, admin, server

#927 :bug: Display add button for create centre
  client/src/views/admin/components/centres/CenterForm.vue
  client/src/views/admin/components/centres/CenterList.vue
Labels: EPIC: Gestion par les utilisateurs, bug

#928 :bug: Fix disable/enable centre dialog
  client/src/views/admin/components/centres/DeleteCentre.vue
Labels: EPIC: Gestion par les utilisateurs, admin, bug

#907 Feat/create departement front #888
  client/cypress.json
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/constants.js
  client/src/main.styl
  client/src/router.js
  client/src/store/admin-departements.js
  client/src/store/admin.js
  client/src/store/index.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminHeader.vue
  client/src/views/admin/components/departementsManager/CreateDepartement.vue
  client/src/views/admin/components/departementsManager/DeleteDepartement.vue
  client/src/views/admin/components/departementsManager/DepartementList.vue
  client/src/views/admin/components/departementsManager/UpdateDepartement.vue
  client/tests/e2e/specs/adminDepartements.js
  server/src/routes/admin/departement-controllers.js
  server/src/routes/admin/message.constants.js
Labels: EPIC: Gestion par les utilisateurs, admin

#931 :bug: If active is undefined, it is true
  client/src/views/admin/components/centres/CenterList.vue
Labels: EPIC: Gestion par les utilisateurs, admin

#932 :white_check_mark: Add e2e tests to centres management
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/centres/CenterForm.vue
  client/src/views/admin/components/centres/CenterList.vue
  client/src/views/admin/components/centres/CenterListDialog.vue
  client/src/views/admin/components/centres/DeleteCentre.vue
  client/tests/e2e/specs/admin-centres.js
Labels: EPIC: Gestion par les utilisateurs, admin

#920 Feat/create mail for wait 30 days #802
  server/dev-setup/aurige.new.json
  server/src/models/candidat/candidat.model.js
  server/src/routes/admin/business/__tests__/aurigeWithAccessAt.json
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/auth/candidat-controllers.js
  server/src/routes/auth/index.js
  server/src/routes/business/__mocks__/send-mail.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail.js
Labels: EPIC : fin Whitelist

#922 Feat/faq with waiting line open departments no whitelist
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/departements.js
  client/src/store/index.js
  client/src/store/paris-centers.js
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
  server/src/app.js
  server/src/models/departement/departement.queries.js
  server/src/routes/auth/index.js
  server/src/routes/candidat/candidat-departements-controller.js
  server/src/routes/candidat/candidat-departements-controller.spec.js
  server/src/routes/candidat/candidat-deptCenters-controller.js
  server/src/routes/candidat/candidat-deptCenters-controller.spec.js
  server/src/routes/candidat/index.js
  server/src/routes/index.js
Labels: EPIC : fin Whitelist

#923 Public list active departements (return only departements id)
  client/src/api/index.js
  client/src/store/departements.js
  server/src/models/departement/departement.queries.js
  server/src/routes/admin/message.constants.js
  server/src/routes/candidat/candidat-departements-controller.js
  server/src/routes/candidat/candidat-departements-controller.spec.js
  server/src/routes/common/centre-controllers.js
  server/src/routes/common/departement-controllers.js
  server/src/routes/common/departement-controllers.spec.js
  server/src/routes/index.js
Labels: EPIC : fin Whitelist

#921 Feat/consulter candidat en attente
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/SearchCandidat.vue
Labels: EPIC : fin Whitelist

#946 :recycle: Refactor public routes
  client/nginx/nginx-run-candidat.template
  client/src/api/api-paths.js
  client/src/api/index.js
  server/src/routes/candidat/candidat-deptCenters-controller.spec.js
  server/src/routes/common/departement-controllers.spec.js
  server/src/routes/index.js
  server/src/routes/public.js
Labels: EPIC : fin Whitelist, bug, candidat

#953 Fix/ipcsr management
  client/src/views/admin/components/ipcsr/CreateIpcsr.vue
  client/src/views/admin/components/ipcsr/UpdateIpcsr.vue
  server/src/routes/admin/inspecteurs-controllers.js
Labels: EPIC : fin Whitelist

#961 Feat/create mail for wait 30 days #802
  server/dev-setup/aurige.new.json
  server/src/models/candidat/candidat.model.js
  server/src/routes/admin/business/__tests__/aurigeWithAccessAt.json
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/auth/candidat-controllers.js
  server/src/routes/auth/index.js
  server/src/routes/business/__mocks__/send-mail.js
  server/src/routes/business/mail/inscription-ok-template.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail.js
Labels: EPIC : fin Whitelist, candidat, enhancement

#963 Feat/faq with waiting line open departments no whitelist
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/departements.js
  client/src/store/index.js
  client/src/store/paris-centers.js
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqContent.vue
  client/src/views/candidat/components/faq/FaqJson.js
  server/src/app.js
  server/src/models/departement/departement.queries.js
  server/src/routes/auth/index.js
  server/src/routes/candidat/candidat-departements-controller.js
  server/src/routes/candidat/candidat-departements-controller.spec.js
  server/src/routes/candidat/candidat-deptCenters-controller.js
  server/src/routes/candidat/candidat-deptCenters-controller.spec.js
  server/src/routes/candidat/index.js
  server/src/routes/index.js
Labels: EPIC : fin Whitelist

#965 Fix/public list active departements
  client/src/api/index.js
  client/src/store/departements.js
  server/src/models/departement/departement.queries.js
  server/src/routes/admin/message.constants.js
  server/src/routes/candidat/candidat-departements-controller.js
  server/src/routes/candidat/candidat-departements-controller.spec.js
  server/src/routes/common/centre-controllers.js
  server/src/routes/common/departement-controllers.js
  server/src/routes/common/departement-controllers.spec.js
  server/src/routes/index.js
Labels: EPIC : fin Whitelist, admin, candidat

#966 Feat/consulter candidat en attente
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/tests/e2e/specs/adminUsers.js
  server/src/routes/candidat/places-business.spec.js
Labels: EPIC : fin Whitelist, candidat, enhancement

#968 Tech/refactor public routes
  client/nginx/nginx-run-candidat.template
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/departements.js
  client/src/store/paris-centers.js
  server/src/routes/candidat/candidat-deptCenters-controller.spec.js
  server/src/routes/common/departement-controllers.spec.js
  server/src/routes/index.js
  server/src/routes/public/index.js
  server/src/routes/public/public-controllers.js
Labels: EPIC : fin Whitelist, candidat, enhancement

#969 Fix/ipcsr management
  client/src/views/admin/components/ipcsr/CreateIpcsr.vue
  client/src/views/admin/components/ipcsr/UpdateIpcsr.vue
  server/src/routes/admin/inspecteurs-controllers.js
Labels: EPIC: Gestion par les utilisateurs, admin, bug

#900 :tada: sign-up candilib whithout whitelist
  client/cypress.env.json
  client/src/candidat.js
  client/src/views/admin/components/SelectDepartements.vue
  client/src/views/candidat/components/SignupForm.vue
  client/tests/e2e/specs/adminUsers.js
  client/tests/e2e/specs/adminWhitelist.js
  client/tests/e2e/specs/candidateFront.js
  client/tests/e2e/specs/candidateLogin.js
  client/tests/e2e/support/commands.js
  server/src/models/departement/departement-model.js
  server/src/models/departement/departement-queries.js
  server/src/models/departement/departement-queries.spec.js
  server/src/models/departement/index.js
  server/src/routes/admin/departement-business.js
  server/src/routes/admin/inspecteurs-controllers.js
  server/src/routes/candidat/candidat.business.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/candidat.controllers.spec.js
  server/src/routes/candidat/message.constants.js
Labels: EPIC : fin Whitelist, candidat

#908 Experimentation context in faq
  client/package-lock.json
  client/package.json
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqJson.js
  client/tests/e2e/specs/candidateFront.js
Labels: EPIC : fin Whitelist, candidat

#949 :bug: fix show Paris centers
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/config.js
  client/src/store/paris-centers.js
  server/src/routes/common/centre-controllers.spec.js
Labels: EPIC : fin Whitelist, bug

#971 Fix/revert experimentation context in faq
  client/package-lock.json
  client/package.json
  client/src/views/candidat/components/faq/Faq.vue
  client/src/views/candidat/components/faq/FaqJson.js
  client/tests/e2e/specs/candidateFront.js
Labels: candidat

#916 Remove whitelist
  client/src/router.js
  client/src/views/admin/Admin.vue
  client/tests/e2e/specs/adminDashboard.js
  client/tests/e2e/specs/adminPlaces.js
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/specs/adminStatsKpi.js
  client/tests/e2e/specs/delayAfterFailure.js
  client/tests/e2e/specs/interactions.js
  client/tests/e2e/support/commands.js
  server/src/routes/admin/statistics.business.js
  server/src/routes/admin/statistics.controllers.js
  server/src/routes/candidat/candidat.controllers.spec.js
Labels: EPIC : fin Whitelist

#950 :pencil2: wording FAQ end of whitelist
  client/src/views/candidat/components/faq/FaqJson.js
Labels: EPIC : fin Whitelist, candidat

#974 Fix APP limit request zone
  client/docker-compose.prod.front.yml
Labels: EPIC : fin Whitelist, bug, candidat, devops

#954 :pencil2: add bold on some part of text
  server/src/routes/business/mail/inscription-ok-template.js
Labels: EPIC : fin Whitelist, candidat, server

#975 Increase burst limit to 15 rq for API zone
  Makefile.mk
Labels: EPIC : fin Whitelist, bug, devops

#973 Fix/fix mailto test e2e
  client/cypress.env.json
  client/public/config-candilib.json
  client/tests/e2e/specs/adminDashboard.js
  client/tests/e2e/specs/adminPlaces.js
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/specs/adminStatsKpi.js
  client/tests/e2e/specs/candidateFront.js
  client/tests/e2e/specs/candidateLogin.js
  client/tests/e2e/specs/delayAfterFailure.js
  client/tests/e2e/specs/interactions.js
  client/tests/e2e/support/commands.js
  server/dev-setup/candidatsCypress.json
  server/dev-setup/create-candidats.js
  server/dev-setup/deletesAll.js
  server/dev-setup/deletesPlacesCandidatsArchivedcandidats.js
  server/src/config.js
Labels: EPIC : fin Whitelist, admin, server

#970 e2e launch docker cypress extra args with shell var CYPRESS_ARG
  Makefile.mk
  client/docker-compose.e2e.yml
  client/e2e-entrypoint.sh
Labels: devops

#955 :recycle: add email of contact in all mail
  server/src/routes/business/mail/epreuve-etg-ko-template.js
  server/src/routes/business/mail/epreuve-pratique-ok-template.js
  server/src/routes/business/mail/inscription-ko-template.js
  server/src/routes/business/mail/inscription-valid-template.js
  server/src/routes/business/mail/validation-email-template.js
  server/src/routes/business/message-templates.js
Labels: EPIC : fin Whitelist, candidat, server

#910 :tada: :sparkles: Improve search Candidat
  client/cypress.env.json
  client/src/api/index.js
  client/src/router.js
  client/src/store/admin-bordereaux.js
  client/src/store/admin-search.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/AdminCandidat.vue
  client/src/views/admin/components/CandilibAutocomplete.vue
  client/src/views/admin/components/HomeAdminPage.vue
  client/src/views/admin/components/ProfileInfo.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/src/views/admin/components/SearchInspecteur.vue
  client/src/views/admin/components/schedule/GenerateInspecteurBordereaux.vue
  client/src/views/admin/components/schedule/PlaceActionHeader.vue
  client/src/views/admin/components/schedule/ScheduleInspectorDetails.vue
  client/src/views/admin/components/searchInspecteur/ListSearchInspecteursAvailable.vue
  client/tests/e2e/specs/adminCandidatSearch.js
  client/tests/e2e/specs/adminDashboard.js
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/support/commands.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/inspecteur/inspecteur-queries.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/inspecteurs-controllers.js
Labels: EPIC : fin Whitelist, admin, enhancement

#984 fix search candidat
  client/src/views/admin/components/SearchCandidat.vue
  client/tests/e2e/specs/adminUsers.js
  client/tests/e2e/specs/candidateLogin.js
Labels: admin, bug

#988 Fix add urlEncode in api getInspecteursByCentreAndDate function
  client/src/api/index.js
  client/src/views/admin/components/repartiteurDelegue/UsersList.vue
  client/tests/e2e/specs/adminPlanning.js
  server/src/routes/common/centre-controllers.js
Labels: admin, bug

#990 update cypress test candidatLogin
  client/tests/e2e/specs/candidateLogin.js
Labels: admin, tech

#992 update cypress test candidatLogin
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/specs/adminUsers.js
  client/tests/e2e/specs/candidateLogin.js
  server/src/models/evaluation/evaluation.queries.spec.js
Labels: admin, tech

#993 fix last error on candidatLogin and delete some usless code
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/specs/candidateLogin.js
Labels: admin, candidat, tech
