Repository LAB-MI/candilibV2, pull requests merged in 2020-07, with the labels that each got.

#1206 Feat/add message for hour available place
  client/src/candidat.js
  client/src/main.styl
  client/src/views/candidat/components/MessageInfoPlaces.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/departement-selection/DepartementSelection.vue
  client/src/views/candidat/components/faq/FaqJson.js
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: candidat, client

#1203 Fix/add regex for first and last name
  client/src/candidat.js
  client/src/util/regex.js
  client/src/views/candidat/components/FormGroupInfoCandidat.vue
  client/tests/e2e/specs/candidateFront.js
  server/src/routes/candidat/candidat.controllers.js
  server/src/routes/candidat/candidat.controllers.spec.js
  server/src/routes/candidat/message.constants.js
  server/src/util/regex.js
Labels: bug

#1200 :sparkles: add windows 07h00-07h30 and 07h30-08h00
  client/cypress.env.json
  client/src/util/creneauSetting.js
  client/src/views/admin/Admin.vue
  client/src/views/admin/components/schedule/ScheduleInspector.vue
  client/tests/e2e/specs/adminPlanning.js
  client/tests/e2e/specs/adminStatsKpi.js
  client/tests/e2e/specs/candidateFront.js
  client/tests/e2e/specs/interactions.js
  client/tests/e2e/specs/placesAfter12h.js
  client/tests/e2e/support/commands.js
  server/src/routes/admin/places-business.spec.js
  server/src/util/constants.js
Labels: admin, enhancement

#1211 Tech/upgrade client dependences
  client/Dockerfile
  client/e2e.Dockerfile
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/views/candidat/components/selection-summary/SummaryConfirmation.vue
  client/tests/e2e/specs/adminPlaces.js
  client/tests/e2e/specs/adminStatsKpi.js
  client/tests/e2e/specs/aurigeRefusals.js
  client/tests/e2e/specs/candidateFront.js
  client/tests/e2e/specs/delayAfterFailure.js
  client/tests/e2e/specs/placesAfter12h.js
  client/tests/e2e/support/commands.js
Labels: tech

#1213 Fix/error on log key
  server/src/routes/admin/status-candilib-controllers.js
Labels: server, tech

#1227 Feat/update history action in candidat file
  client/package-lock.json
  client/src/views/admin/components/CandidatActionHistoryTab.js
  client/src/views/admin/components/ProfileInfo.vue
  client/src/views/admin/components/SearchCandidat.vue
  client/tests/e2e/specs/adminCandidatSearch.js
  client/tests/e2e/specs/util/util-cypress.js
  client/tests/e2e/support/commands.js
  client/tests/e2e/support/dateUtils.js
  client/vue.config.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/place/place.queries.js
  server/src/models/util/populate-tools.js
  server/src/routes/admin/candidats.controllers.js
Labels: admin, client, server

#1208 :sparkles: Add number of departement in candidat file of search candidat
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, client

#1233 Increase worker_connections,worker_processes and worker_rlimit_nofile
  client/nginx/nginx.template
Labels: bug, tech

#1238 Feat/update faq covid infos
  client/src/views/candidat/components/faq/FaqCOVIDMessage.vue
Labels: candidat, wording

#1237 :pencil2: Update convocation mail
  server/src/routes/business/mail/convocation-template.js
Labels: candidat, wording

#1234 :bug: sort history of candidat file
  client/src/views/admin/components/SearchCandidat.vue
Labels: admin, bug

#1247 reduce api user limite rate
  Makefile.mk
Labels: candidat, tech

#1246 Fix/add index in collection place
  server/src/models/__tests__/reservations.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/admin/message.constants.js
  server/src/routes/admin/places-business.js
  server/src/routes/admin/places-controllers.spec.js
  server/src/routes/admin/statistics.business.spec.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-controllers.js
Labels: candidat, server

#1243 :loud_sound: fix log in bookPlacesByCandidat api
  server/src/routes/candidat/places-controllers.js
Labels: bug, clean log
