Repository LAB-MI/candilibV2, pull requests merged in 2020-05, with the labels that each got.

#1100 Devops/upgrade node slim 12.16
  ci/deploy.sh
  client/Dockerfile
  client/e2e.Dockerfile
  server/Dockerfile
  server/ci/curl.js
  server/ci/wget.js
  server/docker-compose.prod.api.yml
  tests/test-up-api.sh
Labels: tech

#1120 Add npm config to use internal private registry with autosigned certificate
  client/Dockerfile
  server/Dockerfile
Labels: tech

#1137 :sparkles: Add message covid for exam when user is connect or not
  client/src/views/candidat/Candidat.vue
  client/src/views/candidat/components/CandidatHeader.vue
  client/src/views/candidat/components/CovidMessageExam.vue
  client/src/views/candidat/components/CovidMessagePresignupExam.vue
  client/src/views/candidat/components/LandingPage.vue
  client/src/views/candidat/components/SignupForm.vue
  server/src/routes/business/mail/convocation-template.js
Labels: admin, covid19

#1138 feat/add-rule-for-increase-expirate-etg
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/admin/places-business.js
  server/src/routes/candidat/departements-business.js
  server/src/routes/candidat/places-business.spec.js
  server/src/routes/candidat/util/date-etg-candidat.js
  server/src/routes/common/constants.js
Labels: candidat, covid19

#1125 :bug: wording faq- votre departement de residence
  client/src/views/candidat/components/faq/FaqJson.js
Labels: candidat, wording

#1129 :sparkles: faq for contact-us
  client/src/views/candidat/components/faq/FaqJson.js
Labels: EPIC : Formulaire de contacts, candidat

#1121 Feat/unify centre in selection
  client/src/api/api-candidat.js
  client/src/constants.js
  client/src/store/center.js
  client/src/store/time-slots.js
  client/src/views/admin/components/schedule/ScheduleManager.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/departement-selection/DepartementSelection.vue
  client/src/views/candidat/components/selection-summary/SelectionSummary.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
  client/src/views/candidat/components/time-slots-selection/TimesSlotsSelector.vue
  server/src/models/centre/centre-queries.js
  server/src/models/place/place.queries.js
  server/src/routes/admin/statistics.business.js
  server/src/routes/admin/statistics.business.spec.js
  server/src/routes/admin/statistics.controllers.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-business.spec.js
  server/src/routes/candidat/places-controllers.js
  server/src/routes/candidat/places-controllers.spec.js
  server/src/routes/common/centre-business.js
  server/src/routes/common/centre-controllers.js
Labels: EPIC: Changement de departement, candidat, server
