Repository LAB-MI/candilibV2, pull requests merged in 2020-09, with the labels that each got.

#1279 :bug: Fix availables places
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
Labels: bug, candidat, server

#1267 refactor controller places
  server/src/models/place/place.queries.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-controllers.js
Labels: server

#1281 :bug: Remove router replace landing page action
  client/src/views/CandidatHome.vue
Labels: candidat, client

#1297 Fix/remove old booking
  server/src/models/place/place.queries.js
  server/src/routes/admin/places-business.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-controllers.js
Labels: bug, candidat

#1304 :bug: fix locale date to fr
  server/src/util/date-util.js
Labels: candidat

#1306 Feat/user id in header http
  client/src/api/api-candidat.js
  client/src/api/api-utils.js
  client/tests/e2e/specs/candidateFront.js
  server/src/models/candidat/candidat.queries.js
  server/src/routes/auth/candidat-controllers.js
  server/src/routes/candidat/departements-controllers.spec.js
  server/src/routes/candidat/places-controllers.date.display.spec.js
  server/src/routes/candidat/places-controllers.spec.js
  server/src/routes/index.js
  server/src/routes/middlewares/__mocks__/verify-user.js
  server/src/routes/middlewares/verify-user.js
Labels: candidat, tech

#1321 fix data-nosnippet for pre-signup form
  client/src/views/candidat/components/FormGroupInfoCandidat.vue
Labels: bug, tech
