Repository LAB-MI/candilibV2, pull requests merged in 2020-03, with the labels that each got.

#1010 Fix/search candidat by email
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/routes/admin/candidats.controllers.js
Labels: bug

#1023 :bug: Add missing letter in name of variable for fix send bordereaux
  client/src/store/admin-bordereaux.js
Labels: admin, bug

#1011 Feat/stats kpi get number candidats in retention
  client/src/admin.js
  client/src/api/api-paths.js
  client/src/api/index.js
  client/src/store/admin-stats-kpi.js
  client/src/views/admin/components/statsKpi/ChartBarVertical.vue
  client/src/views/admin/components/statsKpi/ChartsStatsKpi.vue
  client/src/views/admin/components/statsKpi/StatsKpi.vue
  client/tests/e2e/specs/adminStatsKpi.js
  server/src/app.js
  server/src/models/__tests__/candidats.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/routes/admin/__tests__/candidats-stat.js
  server/src/routes/admin/index.js
  server/src/routes/admin/statistics.business.js
  server/src/routes/admin/statistics.business.spec.js
  server/src/routes/admin/statistics.controllers.js
Labels: EPIC: STAT KPI, admin

#1032 :speech_balloon: modfify subject of reussite email
  client/tests/e2e/specs/aurigeRefusals.js
  server/src/routes/business/message-templates.js
Labels: server, wording

#1041 :zap: Add split function in client and add a json verification format
  client/package-lock.json
  client/package.json
  client/src/store/aurige.js
  client/src/util/index.js
  client/src/util/transformFile.js
  client/src/views/admin/components/Aurige.vue
  client/tests/e2e/specs/adminPlanning.js
  server/src/routes/admin/candidats.controllers.js
Labels: admin, enhancement, server, tech

#1055 modify color of chart and add title in section retention
  client/package-lock.json
  client/package.json
  client/src/admin.js
  client/src/store/aurige.js
  client/src/util/index.js
  client/src/util/transformFile.js
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/statsKpi/ChartsStatsKpi.vue
  client/tests/e2e/specs/adminPlanning.js
  server/src/routes/admin/candidats.controllers.js
  server/src/routes/auth/admin.controllers.spec.js
Labels: admin, enhancement

#1060 Qualif/v2.6.5 rc2
  client/src/candidat.js
  client/tests/e2e/specs/aurigeRefusals.js
  server/package-lock.json
  server/package.json
  server/src/models/__tests__/centres.js
  server/src/models/__tests__/inspecteurs.js
  server/src/routes/admin/business/__tests__/candidats-aurige.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/admin/business/synchro-aurige.spec.js
  server/src/routes/business/build-mail-failure-exam.js
  server/src/routes/business/build-mail-no-success-exam.js
  server/src/routes/business/mail/epreuve-pratique-absent-template.js
  server/src/routes/business/mail/epreuve-pratique-failed-template.js
  server/src/routes/business/mail/epreuve-pratique-ko-template.js
  server/src/routes/business/mail/epreuve-pratique-non-examine-template.js
  server/src/routes/business/mail/epreuve-pratique-ok-before-template.js
  server/src/routes/business/mail/epreuve-pratique-ok-template.js
  server/src/routes/business/mail/index.js
  server/src/routes/business/message-templates.js
  server/src/routes/business/send-mail-reservation.js
  server/src/routes/business/send-message-constants.js
  server/src/util/constants.js
  tests/utils/aurgie.candidats.75.etg.json
  tests/utils/candidat.mail.success.and.no.reussite.js
  tests/utils/create.kpi.places.Candidats.75.sh
  tests/utils/create.kpi.results.Candidats.93.sh
  tests/utils/createCandidats.75.sh
  tests/utils/createCandidats.93.sh
  tests/utils/createCandidats.sh
  tests/utils/createplace.js
  tests/utils/createsynchroAurige.75.sh
  tests/utils/createsynchroAurige.93.sh
  tests/utils/createsynchroAurige.sh
  tests/utils/deletesAll.js
  tests/utils/deletesPlacesCandidatsArchivedcandidats.js
  tests/utils/testCandidatsEtg.js
  tests/utils/testCandidatsEtgForTestAurgie.js
Labels: Release
