Repository LAB-MI/candilibV2, pull requests merged in 2020-08, with the labels that each got.

#1262 :arrow_up: fix audit npm
  client/package-lock.json
  server/package-lock.json
  server/package.json
Labels: tech

#1253 Fix/improve indexes
  .vscode/settings.json
  client/package-lock.json
  server/src/models/candidat/candidat.model.js
  server/src/models/candidat/candidat.queries.js
  server/src/models/candidat/candidat.queries.spec.js
  server/src/models/centre/centre-model.js
  server/src/models/centre/centre-queries.js
  server/src/models/inspecteur/inspecteur-model.js
  server/src/models/inspecteur/inspecteur-queries.spec.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
  server/src/models/user/user.model.js
  server/src/routes/admin/business/synchro-aurige.js
  server/src/routes/candidat/util/date-etg-candidat.js
  server/src/routes/common/constants.js
Labels: bug, server

#1260 Fix/refactor query test
  client/tests/e2e/specs/adminCandidatSearch.js
  client/tests/e2e/specs/candidateFront.js
  server/src/models/centre/centre-queries.js
  server/src/models/centre/centre-queries.spec.js
  server/src/models/place/place.queries.js
  server/src/models/place/place.queries.spec.js
  server/src/routes/admin/statistics.business.spec.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-controllers.js
  server/src/routes/candidat/places-controllers.spec.js
  server/src/routes/candidat/util/date-etg-candidat.js
Labels: bug, candidat, server

#1263 Explicitly disable logs file in pm2 docker container in cluster mode
  server/ecosystem.config.js
Labels: bug, server, tech

#1252 :bug: fix error when modify center name
  client/src/views/admin/components/centres/CenterForm.vue
  client/src/views/admin/components/centres/CenterList.vue
  client/src/views/admin/components/centres/CenterListDialog.vue
Labels: admin, bug, client

#1269 Feat/add new index in place and centre
  server/src/models/centre/centre-model.js
  server/src/models/place/place.model.js
Labels: server, tech

#1271 Feat/remove db count
  client/src/store/center.js
  client/src/views/candidat/components/departement-selection/DepartementSelectionContent.vue
  client/tests/e2e/specs/placesAfter12h.js
  server/src/models/place/place.queries.js
  server/src/routes/candidat/departements-controllers.date.display.spec.js
  server/src/routes/candidat/departements-controllers.js
  server/src/routes/candidat/departements-controllers.spec.js
  server/src/routes/common/centre-business.js
  server/src/routes/common/centre-controllers.date.display.spec.js
Labels: candidat, client, server

#1274 :card_file_box: update index place model
  server/src/models/place/place.model.js
Labels: server, tech

#1276 :card_file_box: update index place and candidat model
  server/src/models/candidat/candidat.queries.js
  server/src/models/centre/centre-model.js
  server/src/models/place/place.model.js
  server/src/models/place/place.queries.js
Labels: server

#1277 :bug: Make sure a booked place has booked true
  server/src/models/centre/centre-queries.js
  server/src/models/place/place.queries.js
  server/src/routes/admin/places-business.js
  server/src/routes/candidat/places-business.js
  server/src/routes/candidat/places-controllers.js
Labels: server

#1273 :bug: Add loader when i fetch centers and places
  client/src/components/BigLoadingIndicator.vue
  client/src/views/admin/components/AdminCalendar.vue
  client/src/views/admin/components/Aurige.vue
  client/src/views/admin/components/schedule/ScheduleManager.vue
  client/src/views/candidat/components/center-selection/CenterSelection.vue
  client/src/views/candidat/components/time-slots-selection/TimeSlot.vue
Labels: client
